.App {
  text-align: center;
  padding: 30px;
  background-color: floralwhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.u400 {
  font-family: 'Ubuntu', arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.u400i {
  font-family: 'Ubuntu', arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.u700 {
  font-family: 'Ubuntu', arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.u700i {
  font-family: 'Ubuntu', arial, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
